.auth-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 400px;
  padding: 2rem;
  background-color: var(--dark-blue);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: min-height 0.2s;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

input {
  all: unset;
  border-bottom: var(--white) 2px solid;
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

input:focus {
  border-color: var(--electric-blue);
  transition: border-color .5s;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--white);
  color: var(--darkest-blue);
}

button:hover {
  background-color: var(--electric-blue);
  color: var(--darkest-blue);
}

button:disabled {
  background-color: var(--disabled-grey);
  color: var(--dark-blue);
  cursor: not-allowed;
}

.error {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--failed-red);
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.nav-btn {
  padding: 0;
  margin: 0;
  background: none;
  color: var(--white);
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.nav-btn:hover {
  background-color: transparent;
  color: var(--electric-blue);
}

.nav-btns {
    display: flex;
    gap: .25rem;
    margin-top: 1rem;
}