<div class="mcq-container">
  <h3 class="mcq-title">{{ title }}</h3>
  @for (seg of question | codeParser; track seg) {
    <div>
      @if (seg.type === 'text') {
        <div class="question-text">
          {{ seg.value }}
        </div>
      }
      @if (seg.type === 'code') {
        <app-code-viewer
          [code]="seg.value">
        </app-code-viewer>
      }
    </div>
  }

  <ul class="options-list">
    @for (option of options; track option) {
      <li
        (click)="select(option)"
        [class.correct]="option === options[correctAnswer]"
        [class.selected]="option === selectedOption">
        {{ option }}
      </li>
    }
  </ul>

  <div class="timer" [class.critical]="(countdown$ | async) !== null && (((countdown$ | async) ?? 0) <= 5)">
    <div>
      Time Remaining: {{ countdown$ | async }} seconds
    </div>
  </div>
</div>